{% extends 'core/core.html.twig' %}

{% block main %}
    <div class="max-w-screen-lg mx-auto">
        {# nav #}
        <p class="text-sm text-gray-400 flex items-center">
            <i class="fas fa-bars mr-2"></i>
            Admin
        </p>

        <h1 class="text-2xl font-light text-center p-3">Panneau d'administration</h1>

        {# menu #}
        <section
            class="
                mt-5
                grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4
            "
        >
            {{ include('component/button/nav_button.html.twig', {
                href: path('dashboard'),
                label: 'Paramètres généraux',
                help: 'Paramétrage global de l\'application'
            }) }}

            {{ include('component/button/nav_button.html.twig', {
                href: path('admin_company_index'),
                label: 'Companies',
                help: 'Liste des entreprises référencées dans le système et utilisées dans les différents modules'
            }) }}
        </section>
    </div>
{% endblock %}